.container-main-explore {
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
    padding: 180px 0 80px;
    .wrap-number {
        box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
        margin-top: -250px;
        background: white;
        border-radius: 5px;
        padding: 30px 0 30px;
        ul {
            padding: 0;
            margin: auto 0;
            list-style-type: none;
            li {
                border-right: 1px solid #717171;
                text-align: center;
                float: left;
                min-width: 25%;
                h4 {
                    color: #343434;
                    font-family: $font-other;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                h5 {
                    margin-top: 17px;
                    color: #717171;
                    font-family: $font-other;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            li:last-child {
                border-right: none;
            }
        }
    }

    h2 {
        margin-top: 110px;
        text-align: center;
        color: #343435;
        font-family: $font-title-button;
        font-size: 30px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
    }
    h6 {
        text-align: center;
        color: #717171;
        font-family: $font-other;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
    .wrap-img {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        .image {
            position: relative;
            margin-top: 30px;
            padding: 0 14.5px;
            img {
                max-width: 100%;
            }
            .views {
                border-radius: 5px;
                position: absolute;
                background: #e7434e url("../images/sailboat-kopia.png") no-repeat 22% 50%;
                top: 30px;
                left: 41px;
                padding: 11px 12px 11px 41px;
                display: inline-block;
                color: #ffffff;
                font-family: $font-other;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                text-transform: uppercase;
            }
            h2 {
                text-transform: none;
                text-align: left;
                margin: 0;
                position: absolute;
                top: 278px;
                left: 42px;
                font-size: 30px;
                color: #ffffff;
                font-family: $font-title-button;
                font-weight: 400;
                span {
                    font-size: 20px;
                    color: #ffffff;
                    font-family: $font-title-button;
                    font-weight: 400;
                }
            }
        }
    }
    @media (min-width: 320px) and (max-width: 1200px) {
        .image {
            display: inline-block;
            margin: auto;
        }
    }
    .button {
        text-align: center;
        a {
            margin-top: 98px;
            border-radius: 5px;
            border: 1px solid rgba(38, 38, 38, 0.3);
            background-color: rgba(113, 113, 113, 0);
            display: inline-block;
            padding: 24px 43px;
            color: #343434;
            font-family: $font-title-button;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.main-have {
    background: url("../images/photo-1452065656801-6c60b6e7cbc5.png") no-repeat center/cover;
    .container-main-have {
        box-sizing: border-box;
        margin: auto;
        max-width: 1200px;
        padding: 188px 0 159px;
        h2 {
            text-align: center;
            color: #f9fafe;
            font-family: $font-title-button;
            font-size: 72px;
            font-weight: 700;
            text-transform: uppercase;
        }
        h3 {
            text-align: center;
            color: #f9fafe;
            font-family: $font-other;
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .button {
            text-align: center;
            margin-top: 90px;
            a {
                border-radius: 5px;
                background: #e7434e;
                padding: 24px 45px;
                color: #ffffff;
                font-family: $font-title-button;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                text-transform: uppercase;
            }
        }
    }
}

.main-featured {
    .container-main-explore {
        padding: 101px 0 87px;
        h2 {
            margin: 0;
        }
        .wrap-img {
            .image {
                padding: 0 12.5px;
                .views {
                    background: #e7434e;
                    padding: 11px 10px;
                }
                h2 {
                    top: 254px;
                    a {
                        text-decoration: none;
                    }
                    .country {
                        padding: 0 30px 0 20px;
                        background: url("../images/map-marker--1-.png") no-repeat;
                        font-family: $font-other;
                        font-size: 16px;
                        &:hover {
                            color: orange;
                        }
                    }
                    .berths {
                        padding-left: 30px;
                        background: url("../images/account-multiple--1-.png") no-repeat;
                        font-family: $font-other;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .wrap-number {
        ul {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: center;
        }
    }
}

